.detail {
  padding: 60px 0 114px;
  &-content {
    background-color: #fff;
    &-img {
      height: 490px;
      background-color: #3a3c49;
      position: relative;
      &-link {
        display: inline-block;
        position: absolute;
        top: 0;
        right: 0;
        width: 51px;
        height: 44px;
        background-color: #cc2127;
        text-align: center;
        i {
          color: #fff;
          font-size: 26px;
          line-height: 44px;
          font-weight: 300;
        }
      }
    }
    .item {
      margin-top: 0;
      &.item-detail_image {
        .item-header-icon {
          background-image: url(/img/icon-image.png);
          background-position: center;
          background-repeat: no-repeat;
        }
      }
      &-date {
        i, span {
          margin-left: 10px;
          margin-right: 10px;
        }
      }
      &-content {
        padding: 0 60px;
        .center {
          padding: 0 200px;
          font-weight: 700;
        }
      }
      &-footer {
        .star {
          span {
            margin-right: 10px;
          }
          i {
            &:nth-of-type(4), &:nth-of-type(5) {
              color: #999999;
            }
          }
        }
      }
    }
  }
  .nav-post {
    height: 138px;
    margin-top: 60px;
    text-align: center;
    margin-bottom: 60px;
    &-link-p, &-link-n {
      display: inline-block;
      height: 100%;
      background-color: #000000;
      width: 100%;
      color: #ffffff;
      line-height: 138px;
      text-transform: uppercase;
      &:hover {
        background-color: #3a3c49;
        text-decoration: none;
      }
    }
    &-link-p:before {
      content: '';
      display: inline-block;
      height: 12px;
      width: 26px;
      background-image: url(/img/sl-arr-left.png);
      margin-right: 10px;
    }
    &-link-n:after {
      content: '';
      display: inline-block;
      height: 12px;
      width: 26px;
      background-image: url(/img/sl-arr-right.png);
      margin-left: 10px;
    }
  }
  .one-post {
    margin-bottom: 60px;
    &-body {
      margin-bottom: 20px;
      position: relative;
      &-img {
        position: absolute;
        top: 0;
        bottom: 0;
        height: 100%;
        width: 209px;
        background-color: #0c0d0f;
        display: inline-block;
      }
      &-box {
        padding: 40px 30px;
        margin-left: 209px;
        .box-title {
          text-transform: uppercase;
          padding-bottom: 20px;
          margin-bottom: 20px;
          border-bottom: 1px solid rgba(215,215,215, 0.2);
          strong {
            font-size: 16px;
            font-family: $title-font;
            line-height: 24px;
          }
          span {
            font-size: 14px;
            color: #212121;
          }
        }
        .box-text {
          //font-family: 'Hind', sans-serif;
          font-weight: 300;
          font-size: 16px;
          letter-spacing: 1.6px;
          line-height: 28px;
          p {
            margin-bottom: 0;
          }
        }
      }
    }
    &-link {
      height: 50px;
      text-align: center;

      a {
        height: 100%;
        width: 100%;
        display: inline-block;
        background-color: #fff;
        color: #999999;
        text-transform: uppercase;
        &:hover {
          text-decoration: none;
          i {
            background-color: $mainColor;
            color: #ffffff;
          }
        }
      }
      i {
        display: inline-block;
        height: 100%;
        width: 60px;
        line-height: 50px;
        color: #464646;
      }
      span {
        display: inline-block;
        line-height: 50px;
        width: 100%;
        text-align: center;
        background-color: #fff;
      }
    }
  }
  .recomended {
    position: relative;
    &-title {
      text-transform: uppercase;
      font-size: 20px;
      font-weight: 700;
      letter-spacing: 1.2px;
      color: #212121;
      line-height: 20px;
    }
    &-owl {
      //width: 100%;
      background: none;
      .item {
        height: 218px;
        background-color: #464646;
        .recomended-img {
          height: 100%;
        }
      }
      .owl-nav {
        position: absolute;
        top: -30px;
        right: 0;
      }
      .owl-prev {
        position: relative;
        margin-right: 8px;
        height: 30px;
        width: 30px;
        background: #464646 url(/img/arr-left.png) no-repeat center !important;
      }
      .owl-next{
        position: relative;
        height: 30px;
        width: 30px;
        background: #464646 url(/img/arr-right.png) no-repeat center !important;
      }
    }
  }
}
