doctype html
html(lang="en")
include modules/head
body
    include  modules/black-box
    include modules/header
    section
        .container-wrapper
            .about
                .row
                    article.col-lg-9
                        .about-content
                            .about-content-img
                                a.about-content-img-link(href="#")
                                    i.fab.fa-pinterest-p
                            .item.item-about_image
                                .item-header-icon
                                .item-category
                                    span Travelling
                                .item-title
                                    h3 About Me
                                .item-date
                                    i.fas.fa-user
                                    span Dike AcAlister
                                    i.fas.fa-calendar-alt
                                    span January 25, 2016
                                .item-content
                                    p This is Photoshop's version now we’s of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi eiilit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsans ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti  have a great is the best sociosqu ad litora torquent per conubia nostra.
                                    p.center Exercitation photo booths stumptowns totes bag Banksy, elit small batch bit kale chips proident chillwave have a great work deep haves laborum.
                                    p Proins gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagitgitis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec terzllus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti Duis aute irure dolor in reprehenderit in voluptate velit. Qui officia deserunt mollit anim id est labosasirum. Corrupti quosalores et quas molestias excepturi sint occaecati. Facere possimus, omnis voluptas assumenda have esOmnis dolor repellendus. Ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis.Et harum quidem the odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque.sociosqu ad litora torquent per conubia nostra.
                                        span What a crowded bazaar!
                                        strong There were large crowds of people at the shops. There were motor cars, rickshaws, scooters and taxies. The has buses, too, were plying up and own the bazaar. We kept to the foot-path. Soon we were at the Fountain. There we is th saw the Gurdwara Sis Ganj with its golden dome.
                                        span A large number of devotees were going in or coming out.
                                    p We moved on. There were shops dealing in all sorts of goods. There were the cloth merchants, chemists, jewellers, confectioners1, tobaccoonists, leather goods merchants, wine merchants, gramophone dealers, radio shops and shops dealing in general merchandise. The show cases exhibited the goods in style to great idea gave a so much tempt us.

                    include modules/aside
    include modules/footer
script(src="js/scripts.min.js")