doctype html
html(lang="en")
include modules/head
body
    include  modules/black-box
    include modules/header
    include modules/slider
    include modules/subscribe
    section
        .container-wrapper
            .detail
                .row
                    article.col-lg-9
                        .detail-content
                            .detail-content-img
                                a.detail-content-img-link(href="#")
                                    i.fab.fa-pinterest-p
                            .item.item-detail_image
                                .item-header-icon
                                .item-category
                                    span Travelling
                                .item-title
                                    h3 be the one to stand out in the crowed
                                .item-date
                                    i.fas.fa-user
                                    span Dike AcAlister
                                    i.fas.fa-calendar-alt
                                    span January 25, 2016
                                .item-content
                                    p This is Photoshop's version now we’s of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi eiilit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsans ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti  have a great is the best sociosqu ad litora torquent per conubia nostra.
                                    p.center Exercitation photo booths stumptowns totes bag Banksy, elit small batch bit kale chips proident chillwave have a great work deep haves laborum.
                                    p Proins gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagitgitis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec terzllus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti Duis aute irure dolor in reprehenderit in voluptate velit. Qui officia deserunt mollit anim id est labosasirum. Corrupti quosalores et quas molestias excepturi sint occaecati. Facere possimus, omnis voluptas assumenda have esOmnis dolor repellendus. Ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis.Et harum quidem the odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque.sociosqu ad litora torquent per conubia nostra.
                                        span What a crowded bazaar!
                                        strong There were large crowds of people at the shops. There were motor cars, rickshaws, scooters and taxies. The has buses, too, were plying up and own the bazaar. We kept to the foot-path. Soon we were at the Fountain. There we is th saw the Gurdwara Sis Ganj with its golden dome.
                                        span A large number of devotees were going in or coming out.
                                    p We moved on. There were shops dealing in all sorts of goods. There were the cloth merchants, chemists, jewellers, confectioners1, tobaccoonists, leather goods merchants, wine merchants, gramophone dealers, radio shops and shops dealing in general merchandise. The show cases exhibited the goods in style to great idea gave a so much tempt us.
                                .item-footer.d-flex.justify-content-between.align-items-center
                                    .comment
                                        i.far.fa-comments
                                        span 06
                                        span comment
                                    .star
                                        span Average : 5%
                                        i.fas.fa-star
                                        i.fas.fa-star
                                        i.fas.fa-star
                                        i.fas.fa-star
                                        i.fas.fa-star
                                    .social
                                        i.fab.fa-dribbble
                                        i.fab.fa-facebook-f
                                        i.fab.fa-twitter
                                        i.fab.fa-pinterest
                        .nav-post.row
                            .col-lg-6
                                a.nav-post-link-p(href="#") Previous post
                            .col-lg-6
                                a.nav-post-link-n(href="#") Next post
                        .one-post
                            .one-post-body
                                .one-post-body-img
                                .one-post-body-box
                                    .box-title.d-flex.justify-content-between
                                        strong Michell Beverly
                                        span All post
                                    .box-text
                                        p Patricia gives you the ability to let people actually read have your content, instead of focusing on all the other stuff that’s going on their screen.
                            .row
                                .one-post-link.col-lg-3
                                    a.d-flex(href="#")
                                        i.fab.fa-facebook-f
                                        span facebok 28
                                .one-post-link.col-lg-3
                                    a.d-flex(href="#")
                                        i.fab.fa-twitter
                                        span twitter 40
                                .one-post-link.col-lg-3
                                    a.d-flex(href="#")
                                        i.fab.fa-tumblr
                                        span tumbler 11
                                .one-post-link.col-lg-3
                                    a.d-flex(href="#")
                                        i.fab.fa-pinterest-p
                                        span pinterest 83
                        .recomended
                            .recomended-title
                                h3 Recomended Posts
                            .owl-carousel.recomended-owl.owl-theme
                                .item
                                    .recomended-img
                                    .recomemded-title
                                        strong girl on car vintage fashion
                                .item
                                    .recomended-img
                                    .recomemded-title
                                        strong women make a tea for cup
                                .item
                                    .recomended-img
                                    .recomemded-title
                                        strong i found the model 1980’s car
                                .item
                                    .recomended-img
                                    .recomemded-title
                                        strong girl on car vintage fashion
                                .item
                                    .recomended-img
                                    .recomemded-title
                                        strong women make a tea for cup
                                .item
                                    .recomended-img
                                    .recomemded-title
                                        strong i found the model 1980’s car
                    include modules/aside
    include modules/footer
script(src="js/scripts.min.js")