doctype html
html(lang="en")
include modules/head
body
    include  modules/black-box
    include modules/header
    include modules/slider
    include modules/subscribe
    setion
        .container-wrapper
            .masonry
                .item.item_pen
                    .item-header-icon
                    .item-category
                        span Travelling
                    .item-title
                        h3 Travel besT Adventure
                    .item-date
                        span January 25, 2016
                    .item-content
                        p Lorem ipsum doloirs sit amet, csatetur adipisicin, sed does eiusmod tehampor incididunt uts laboasre et dolhvaliqua. Ut enim  vem, nostrasuaations ullamco labiosi ut saaliquip exoi asea comoodo Disco choice is the have great work.
                    .item-link
                        a(href="#") Read more
                    .item-footer.d-flex.justify-content-between.align-items-center
                        .comment
                            i.far.fa-comments
                            span no
                            span comment
                        .social
                            i.fab.fa-dribbble
                            i.fab.fa-facebook-f
                            i.fab.fa-twitter
                            i.fab.fa-pinterest
                .item.item_link
                    .item-header-icon
                    .item-link-simple
                        a(href="#") http://www.abcdomainname.com/ screen/discovery
                .item.item_image
                    .item-header-icon
                    .item-category
                        span Travelling
                    .item-title
                        h3 Standard Image Post
                    .item-date
                        span January 25, 2016
                    .item-content
                        p Lorem ipsum doloirs sit amet, csatetur adipisicin, sed does eiusmod tehampor incididunt uts laboasre et dolhvaliqua. Ut enim  vem, nostrasuaations ullamco labiosi ut saaliquip exoi asea comoodo Disco choice is the have great work.
                    .item-link
                        a(href="#") Read more
                    .item-footer.d-flex.justify-content-between.align-items-center
                        .comment
                            i.far.fa-comments
                            span 06
                            span comment
                        .social
                            i.fab.fa-dribbble
                            i.fab.fa-facebook-f
                            i.fab.fa-twitter
                            i.fab.fa-pinterest
                .item.item_text
                    .item-category
                        span Travelling
                    .item-title
                        h3 Travel besT Adventure
                    .item-date
                        span January 25, 2016
                    .item-content
                        p Lorem ipsum doloirs sit amet, csatetur adipisicin, sed does eiusmod tehampor incididunt uts laboasre et dolhvaliqua. Ut enim  vem, nostrasuaations ullamco labiosi ut saaliquip exoi asea comoodo Disco choice is the have great work.
                    .item-link
                        a(href="#") Read more
                .item.item_quote
                    .item-header-icon
                    .item-content
                        p Lorem ipsum doloirs sit amet, csatetur adipisicin, sed does eiusmod tehampor incididunt uts laboasre et dolhvaliqua. Ut enim  vem, nostrasuaations ullamco labiosi ut saaliquip exoi asea comoodo Disco choice is the have great work.
                    .author
                        span Nathalia Alexy
                .item.item_pen
                    .item-header-icon
                    .item-category
                        span Travelling
                    .item-title
                        h3 Travel besT Adventure
                    .item-date
                        span January 25, 2016
                    .item-content
                        p Lorem ipsum doloirs sit amet, csatetur adipisicin, sed does eiusmod tehampor incididunt uts laboasre et dolhvaliqua. Ut enim  vem, nostrasuaations ullamco labiosi ut saaliquip exoi asea comoodo Disco choice is the have great work.
                    .item-link
                        a(href="#") Read more
                    .item-footer.d-flex.justify-content-between.align-items-center
                        .comment
                            i.far.fa-comments
                            span no
                            span comment
                        .social
                            i.fab.fa-dribbble
                            i.fab.fa-facebook-f
                            i.fab.fa-twitter
                            i.fab.fa-pinterest
                .item.item_window
                    .item-header-icon
                .item.item_music
                    .item-header-icon
                    .item-category
                        span Travelling
                    .item-title
                        h3 Travel besT Adventure
                    .item-date
                        span January 25, 2016
                    .cover
                .item.item_video
                    .item-header-icon
                    .item-video
                        video(src="/img/BS_Vid1.mp4" controls preload="metadata")
                    .item-category
                        span Travelling
                    .item-title
                        h3 Travel besT Adventure
                    .item-date
                        span January 25, 2016
                    .item-content
                        p A CONAN staffer is learning the rules of the in  road, with a little help from Look out, fellow drivers!
                    .item-footer.d-flex.justify-content-between.align-items-center
                        .comment
                            i.far.fa-comments
                            span no
                            span comment
                        .social
                            i.fab.fa-dribbble
                            i.fab.fa-facebook-f
                            i.fab.fa-twitter
                            i.fab.fa-pinterest
    include modules/footer
script(src="js/scripts.min.js")