.col-lg-3
    aside.aside
        form.aside-form.d-flex(action="")
            input.aside-form-input.w-100(type="text" name="search" placeholder="SEARCH")
            button.aside-form-btn.flex-shrink(type="submit")
                i.fas.fa-search
        .aside-img-top
            img(src="/img/aside-img-top.png")
        .aside-categories
            h3  Categories
            ul
                li.d-flex.justify-content-between
                    span lifestyle
                    span 98
                li.d-flex.justify-content-between
                    span Audio
                    span 102
                li.d-flex.justify-content-between
                    span Gallery
                    span 83
                li.d-flex.justify-content-between
                    span Image
                    span 04
                li.d-flex.justify-content-between
                    span Standard
                    span 109
                li.d-flex.justify-content-between
                    span Status
                    span 50
                li.d-flex.justify-content-between
                    span Video
                    span 102
        .aside-img
            img(src="/img/aside-img.png")
        .lastest
            .lastest-title
                p Lastest post
            .lastest-post.d-flex
                .lastest-post-img
                .lastest-post-text
                    p jurney towards a lifestyle
                    span.post-date Jan. 16 2015
                    span.post-like Like 255
            .lastest-post.d-flex
                .lastest-post-img
                .lastest-post-text
                    p jurney towards a lifestyle
                    span.post-date Jan. 16 2015
                    span.post-like Like 255
            .lastest-post.d-flex
                .lastest-post-img
                .lastest-post-text
                    p jurney towards a lifestyle
                    span.post-date Jan. 16 2015
                    span.post-like Like 255
        .aside-social.d-flex.justify-content-between
            i.fab.fa-twitter
            i.fab.fa-facebook-f
            i.fab.fa-dribbble
            i.fab.fa-pinterest
            i.fab.fa-linkedin-in
        .owl-carousel.aside-owl-carousel.owl-theme
            .item
                img(src="/img/aside-slide-1.png")
            .item
                img(src="/img/aside-slide-2.png")
            .item
                img(src="/img/aside-slide-3.png")
