footer
    .container-wrapper
        .row
            .footer-box.col-lg-3
                h3.footer-box-title About Blog
                p.footer-box-text Lorem ipsum dolor sit amet, conser adipisicing  esse cillum dolore nulla pariatur.
                img(src="/img/footer-img-1.png")
            .footer-box.col-lg-3
                h3.footer-box-title latest tweets
                .footer-box-text
                    i.fab.fa-twitter
                    span @Twitter@magicalrebekah <br>
                    p Developer Advocate @heyval isaiyou knows the very well is about things .
                .footer-box-text
                    i.fab.fa-twitter
                    span @Twitter@magicalrebekah <br>
                    p Developer Advocate @heyval isaiyou knows the very well is about things .
            .footer-box.col-lg-3
                h3.footer-box-title Follow me instagram
                .row.footer-box-row
                    .footer-box-img.col-lg-4
                        .box_img
                    .footer-box-img.col-lg-4
                        .box_img
                    .footer-box-img.col-lg-4
                        .box_img
                    .footer-box-img.col-lg-4
                        .box_img
                    .footer-box-img.col-lg-4
                        .box_img
                    .footer-box-img.col-lg-4
                        .box_img
            .footer-box.col-lg-3
                h3.footer-box-title latest comment
                .comment-box
                    p.comment-box-title From Alex :
                    p.comment-box-text Developer Advocate @heyval isaiyou know the very well is talking about things.
                .comment-box
                    p.comment-box-title From Jhon Doe :
                    p.comment-box-text Developer Advocate @heyval isaiyou know the very well is talking about things.
    .copyright.d-flex.align-items-center.justify-content-center
        p Разработка и дизайн - Qubeek.io