section
    .slider
        .container-wrapper
            .owl-carousel.owl-carousel-hero.owl-theme
                .owl-slide-1
                    .slider-hero
                        .slider-title
                            h2 Latest News
                        .slider-text
                            p BodyBuilding best <br> for you health
                    img(src="/img/sl-1.png")
                .owl-slide-2
                    .slider-hero
                        .slider-title
                            h2 Latest News
                        .slider-text
                            p BodyBuilding best <br> for you health
                    img(src="/img/sl-2.png")
                .owl-slide-3
                    .slider-hero
                        .slider-title
                            h2 Latest News
                        .slider-text
                            p BodyBuilding best <br> for you health
                    img(src="/img/sl-3.png")
            //.owl-nav
            //    button.owl-prev(type="button" role="presentation")
            //        span(aria-label="Previous") 1
            //    span
            //    button.owl-next(role="presentation")
            //        span(aria-label="Next") 2