section
    .subscribe
        .container-wrapper
            form.subscribe-form.d-flex.align-items-center
                p.subscribe-title Signup to Newsletter
                input.subscribe-form-name(type="text" placeholder="YOUR NAME")
                input.subscribe-form-email(type="email" placeholder="YOUR EMAIL ADDRESS")
                button.subscribe-form-button(type="submit") SUBSCRIBE NOW